<%- include('header') %>

<div style="padding: 0 8px;" class="main">
    <div class="notice-wrap-title-wrap">
        <div class="title-wrap">
            <div class="title-img-wrap"><img src="../images/q-icon.png" alt=""></div>
            <p style="margin: 0">공지사항</p>
        </div>
        <p class="more-v" style="margin: 20px 20px 0 0" onclick="return top.frameChange ('NOTICE','../qna/notice_list.html','공지사항')">more view &gt;</p>
    </div>
    <div class="notice-text-section-wrap">
        <table class="table table-light text-center mt-3" style="border-bottom:1px solid #ddd;">
            <thead class="thead-std" style="">
            <tr style="background-color:#eee;">
                <th class="border-bottom-0 wh60">No</th>
                <th class="border-bottom-0">제목</th>
                <th class="border-bottom-0 wh100">등록일</th>
            </tr>
            </thead>
            
<tbody><tr height="29" onmouseover="this.style.backgroundColor='#f3f3f3'" onmouseout="this.style.backgroundColor=''">
<td><a href="javascript://" onclick="return newReg('475','notice')" style="color:#222;font-weight:600;">475</a></td>
<td class="al"><a href="javascript://" onclick="return newReg('475','notice')" style="color:#222;font-weight:600;">★★5월30일 단축근무★★</a></td>
<td class="nowrap">2025-05-15</td>
</tr>						
<tr height="29" onmouseover="this.style.backgroundColor='#f3f3f3'" onmouseout="this.style.backgroundColor=''">
<td><a href="javascript://" onclick="return newReg('442','notice')" style="color:#222;font-weight:600;">442</a></td>
<td class="al"><a href="javascript://" onclick="return newReg('442','notice')" style="color:#222;font-weight:600;">3월 유류할증료 인상안내</a></td>
<td class="nowrap">2025-02-26</td>
</tr>						
<tr height="29" onmouseover="this.style.backgroundColor='#f3f3f3'" onmouseout="this.style.backgroundColor=''">
<td><a href="javascript://" onclick="return newReg('439','notice')" style="color:#222;font-weight:600;">439</a></td>
<td class="al"><a href="javascript://" onclick="return newReg('439','notice')" style="color:#222;font-weight:600;">보조배터리 및 전자담배 기내반입절차</a></td>
<td class="nowrap">2025-02-26</td>
</tr>					</tbody></table>
    </div>
</div>

<div style="padding: 0 8px;" class="main">
    <div class="notice-wrap-title-wrap">
        <div class="title-wrap">
            <div class="title-img-wrap"><img src="../images/q-icon.png" alt=""></div>
            <p style="margin: 0">제휴문의</p>
        </div>
        <p class="more-v" style="margin: 20px 20px 0 0" onclick="return top.frameChange ('','../bbs/partnership_list.html','제휴문의')">more view &gt;</p>
    </div>
    <div class="notice-text-section-wrap">
        <table class="table table-light text-center mt-3" style="border-bottom:1px solid #ddd;">
            <thead class="thead-std" style="">
            <tr style="background-color:#eee;">
                <th class="border-bottom-0 wh60">No</th>
                <th class="border-bottom-0">상호명</th>
                <th class="border-bottom-0">이메일</th>
                <th class="border-bottom-0 wh100">등록일</th>
                <th class="border-bottom-0">생성일</th>
            </tr>
            </thead>
            
<tbody><tr height="29" onmouseover="this.style.backgroundColor='#f3f3f3'" onmouseout="this.style.backgroundColor=''">
<td><a href="javascript://" onclick="return  newReg('900','partner', 'Y')" style="color:#222;font-weight:600;">900</a></td>
<td class="al"> 미스터에스골프투어</td>
<td class="al">kem4647@naver.com</td>
<td class="nowrap">2025-06-20</td>
<td><span class="btn_basic btn_blue" onclick="return newSite('900')"> 생성</span></td>
</tr>

<tr height="29" onmouseover="this.style.backgroundColor='#f3f3f3'" onmouseout="this.style.backgroundColor=''">
<td><a href="javascript://" onclick="return  newReg('899','partner', 'Y')" style="color:#222;font-weight:600;">899</a></td>
<td class="al"> 아즈텍52</td>
<td class="al">gordonchoi@hanmail.net</td>
<td class="nowrap">2025-06-07</td>
<td><span class="btn_basic btn_blue" onclick="return newSite('899')"> 생성</span></td>
</tr>

<tr height="29" onmouseover="this.style.backgroundColor='#f3f3f3'" onmouseout="this.style.backgroundColor=''">
<td><a href="javascript://" onclick="return  newReg('898','partner', 'Y')" style="color:#222;font-weight:600;">898</a></td>
<td class="al"> 인생샷</td>
<td class="al">yang.d@lifeshot.me</td>
<td class="nowrap">2025-05-30</td>
<td><span class="btn_basic btn_blue" onclick="return newSite('898')"> 생성</span></td>
</tr>
            </tbody></table>
    </div>

</div>