<%- include('../header') %>

<main class="content">

	<form name="frmSearch" id="frmSearch" enctype="multipart/form-data" method="post" onsubmit="return formSearch(event);" >
	<input type="hidden" name="menuCol"   value="">    <input type="hidden" name="mode"      value="">
	<input type="hidden" name="page"      value="1">
	<input type="hidden" name="titleData" value="">
		<div id="searchFrame">
			<div class="search_action_bar">
				<div class="search_action_left">
					<span href="javascript://"  onClick="newReg('','input')"  class="search_action_btn_primary">
						+ μ‹ κ·λ“±λ΅
					</span>
				</div>
				<div class="search_action_right">
					
					<input name="listCount" class="search_action_search_input wh40" value="20">
					<span class="unit">μ¤„μ</span>
					<select name="sFrom" class="search_action_select"  >
						<option value="airClass"   >ν΄λμ¤</option>
						<option value="carrierCode">ν•­κ³µμ‚¬</option>
						<option value="air_code"	>ν•­κ³µνΈ</option>
						<option value="a.uid"	>λ²νΈ</option> 
					</select>
					<input name="sWord" class="search_action_search_input" placeholder="κ²€μƒ‰" id="example-search-input">
					<button class="search_action_icon_btn" type="submit" aria-label="κ²€μƒ‰" >π”</button>
				</div>
			</div>
		</div>
	</form>

	<form name="frmForm" method="post" id="frmForm">
	<input type="hidden" name="uid"  value="">
	<input type="hidden" name="mode" value="">
	<div ID="listFrame" class="">
		<div ID="listFrameSub" class="search-panel">
			<table class='search-table' id='dtBasic'>
				<tr >
                    <th >No</th>
					<th >μ¶λ°λ„μ‹</th>
					<th >λ„μ°©λ„μ‹</th>
					<th >ν•­κ³µνΈ</th>
					<th >μ΄ν•­μΌμ</th>
					<th >μ΄ν•­μ”μΌ</th>
					<th >μ¶λ°μ‹κ°„</th>
					<th >λ„μ°©μ‹κ°„</th>
					<th >μ΄ν•­μ‹κ°„</th>
					<th >μ‚­μ </th>
				</tr>
				
			</table>
		</div>
	</div>
	</form>
	<div class="action_bar_split">

		<div class="action_area_left">
			&nbsp;
			
		</div>
		<div class="action_area_center" id="pagingHTML">
		</div>
		<div class="action_area_right">			
			<button class="action_btn_download excel" >
				<span class="icon"  href="javascript://" onClick="return excelDown()" >π“</span>
				μ—‘μ…€ λ‹¤μ΄λ΅λ“
			</button>
		</div>
		
	</div>

</main>
<form name="frmModify" id="frmModify" method="post" >
	<input type="hidden" name="mode"		value="">
	<input type="hidden" name="uid">
	<input type="hidden" name="money_type">
    <input type="hidden" name="gubun_code">

</form>
<div id="basePopUp" style="display:none"></div>
<script type="text/javascript">
<!--

    async function newReg (uid='',mode='input') {
        frmModify.uid.value      = uid;
        frmModify.mode.value     = mode;
        LoadingStart ();
        const json = await dataSaveSend ('frmModify','/Block/flightSave');
		title   = json.title;
		html    = json.html;
        name    = json.name;
		drawer.open(1000, { title, html  });
        LoadingStop();
        
	}

	$(document).ready(function() {
		//frmSearch.submit ();
		formSearch (event,'1');
	});

    async function formSearch (e,page=1) {
        if (e) e.preventDefault();
        frmSearch.page.value = page;
		LoadingStart ();
        json = await dataSaveSend ('frmSearch','/Block/flight_list');
		success = json.success;
		if (success === "ok") {
            const datas  = json.listData;
            const paging = json.pageData;
            $("#listFrameSub").html(datas);
            $("#pagingHTML").html(paging);
			parent.$("#topTitleData").html(`ν•­κ³µνΈνƒ€μ„ν…μ΄λΈ” (${json.totalCount})`);
            frmSearch.titleData.value = `ν•­κ³µνΈνƒ€μ„ν…μ΄λΈ” (${json.totalCount})`;
		} else {
            newAlert('λ©λ΅νΈμ¶μ¤‘ μ¤λ¥ λ°μƒ');
		}
		LoadingStop();
        return false;
	};
	
    var oEditors = [];
	
    async function inputCheck () {
        Obj = document.frmDetail;
		if(Obj.air_flight.value == ""){
			alert("ν•­κ³µνΈμ„ μ…λ ¥ν•΄ μ£Όμ„Έμ”");
		} else {
            json = await dataSaveSend ('frmDetail','/Block/flightSave');
            success  = json.success;
            errorMsg = json.errorMsg;
            uid      = json.uid;
            if (success === "ok") {
                formSearch(event,frmSearch.page.value);
                drawer.close();
            } else {
                newAlert('μ—λ¬:'+errorMsg);
            }
		}
		return false;
	}

    async function funcDel (uid) {
        var Rc = confirm("μ‚­μ  ν•μ‹κ² μµλ‹κΉ?");
        if (Rc) {
            frmModify.uid.value = uid;
            frmModify.mode.value = 'delete';
            LoadingStart ();    
            json = await dataSaveSend ('frmModify','/Block/flightSave');
            success  = json.success;
            errorMsg = json.errorMsg;
            if (success === "ok") {
                formSearch(event,frmSearch.page.value);
            } else {
                newAlert('μ—λ¬:'+errorMsg);
            }
            LoadingStop();
        }
        return false;
    }

//-->
</script>

<%- include('../footer_log') %>