<div class="main">
  <header class="header">
    <div class="header-left">
      โฐ
      <h1>๋์๋ณด๋</h1>
    </div>
  
    <div class="header-right">
      ๐
      <span>๊ด๋ฆฌ์</span>
      <button id="logoutBtn" class="btn-logout">๋ก๊ทธ์์</button>
    </div>
  </header>
</div>