<%- include('../header') %>

<main class="content">

	<form name="frmSearch" id="frmSearch" method="post"  onsubmit="return formSearch(event);">
	<input type="hidden" name="menuCol"   value="">
    <input type="hidden" name="mode"      value="List">
	<input type="hidden" name="page"      value="1">
    <input type="hidden" name="titleData" value="회원 관리">
		<div id="searchFrame">
			<div class="search_action_bar">
				<div class="search_action_left">
					<span onClick="newReg('','input')"  class="search_action_btn_primary">
                        + 신규등록
                    </span>
				</div>
				<div class="search_action_right">
					<input name="listCount" type="text" value="15" class="search_action_search_input wh40" placeholder="줄수" />
					<span class="unit">줄수</span>
					<select name="sFrom" class="search_action_select">
						<option value="username"	>한글이름
                        <option value="eng_name"	>영문이름
                        <option value="userid"		>아이디
                        <option value="site_code"	>거래처코드
                        <option value="handphone"	>핸드폰
					</select>
					<input name="sWord" type="text" value="" class="search_action_search_input" placeholder="검색어를 입력하세요" />
					<button type="submit" class="search_action_icon_btn" aria-label="검색">🔍</button>
				</div>
			</div>
		</div>
	</form>

	<form name="frmForm" method="post" id="frmForm">
	<input type="hidden" name="uid"  value="">
	<input type="hidden" name="mode" value="">
	<div ID="listFrame" >
		<div ID="listFrameSub" class="search-panel">
			<table class='search-table' id='dtBasic'>
				<tr>
                    <th>No</th>
					<th>거래처코드</th>
					<th>아이디</th>
					<th>한글이름</th>
					<th>영문이름</th>
					<th>핸드폰</th>
					<th>이메일</th>
					<th>등록일</th>
					<th>접속일</th>
					<th>로긴</th>
					<th>쿠폰</th>
					<th>소셜</th>
					<th>삭제</th>
				</tr>
		</div>
	</div>
	</form>
	<div class="action_bar_split">

		<div class="action_area_left">
			&nbsp;
		</div>
		<div class="action_area_center" id="pagingHTML">
		</div>
		<div class="action_area_right">			
			<button class="action_btn_download excel" onClick="return excelDown()" >
				<span class="icon">📊</span>
				엑셀 다운로드
			</button>
		</div>
	</div>
</main>
<form name="frmModify" id="frmModify" method="post" >
	<input type="hidden" name="mode"		value="">
	<input type="hidden" name="uid">
	<input type="hidden" name="money_type">
    <input type="hidden" name="gubun_code">

</form>
<div id="basePopUp" style="display:none"></div>
<script type="text/javascript">
<!--
	async function newReg (uid='',mode='input') {
		frmModify.uid.value = uid;
		frmModify.mode.value = mode;
		LoadingStart ();
		json = await dataSaveSend ('frmModify','/member/memberSave');
		title = json.title;
		html  = json.html;
		drawer.open(1000, { title, html  });
		LoadingStop();
	}
	$(document).ready(function() {
		//frmSearch.submit ();
		formSearch (event);
	});

	async function delMem (uid,name) {
		var Rc = confirm(name+"님을 삭제 하시겠습니까?");
		if (Rc) {
			Obj = document.frmModify;
			Obj.mode.value = "delete";
			Obj.uid.value = uid;
			json = await dataSaveSend ('frmModify','/member/memberSave');
			success  = json.success;
			errorMsg = json.errorMsg;
			if (success === "ok") {
				formSearch (event);
			} else {
				newAlert('에러:'+errorMsg);
			}
		}
		return false;
	}

	async function formSearch (e,page=1) {
        if (e) e.preventDefault();
        frmSearch.page.value = page;
		LoadingStart ();
        json = await dataSaveSend ('frmSearch','/member/member_list');
		success = json.success;
		if (success === "ok") {
            const datas  = json.listData;
            const paging = json.pageData;
            $("#listFrameSub").html(datas);
            $("#pagingHTML").html(paging);
			$("#totCount").html(`(${json.totalCount})`);
		} else {
            newAlert('목록호출중 오류 발생');
		}
		LoadingStop();
        return false;
	};

	async function inputCheck () {
		Obj = document.frmDetail;
		mode = Obj.mode.value;
		if (Obj.username.value == "") {
			alert("한글이름을 입력하세요");
		} else {
			json = await dataSaveSend ('frmDetail','/member/memberSave');
			success = json.success;
			//console.log(json);
			if (success === "ok") {
				formSearch (event);
				$("#drawerClose").click();
			} else {
				//newAlert('저장중 오류 발생');
			}
		}
		return false;
	}
//-->
</script>

<%- include('../footer_log') %>