<%- include('../header') %>

<main class="content">

		<!--
	<div class="border regis-tle-box shadow-sm">
		<h5 class="regis-tle">
			<i class="fas fa-edit" style="color:#777;font-size:16px;"></i>&nbsp;&nbsp;국제선 예약 목록 &nbsp;&nbsp;
			<span style="color:#bbb; font-size:14px;" id="totCount">(0) </span>

			<span class="fr btn_basic btn_yellow " onClick="dupChecks()" id="dupOrderCheck">중복 주문서</span>
			<span class="fr btn_basic btn_purple none" id="errorDepoCheck"   title="현금 발권후 예치금 미차감건"></span>
			<span class="fr btn_basic btn_red none"    id="errorOrderCheck"  title="예치금 차감후 발권 안된건"></span>
			<span class="fr btn_basic btn_blue none"   id="errorCardCheck"   title="카드미취소건(KE등)"></span>
			<div class="fr" id="dupDataArea" style="display:none; z-index:999;border:1px solid #bbb ; width:450px; right:0px; height:250px; position:absolute;margin:0 40px 0 0;background-color:#fff;overflow:hidden;overflow-y:auto; ">
			</div>

		</h5>
	</div>
-->
	<form name="frmSearch" id="frmSearch" method="post" onsubmit="return formSearch(event);"  >
	<input type="hidden" name="menuCol"   value="">
    <input type="hidden" name="mode"      value="interSearch">
	<input type="hidden" name="page"      value="1">
	<input type="hidden" name="titleData" value="">
		<div id="searchFrame">
			<div class="search_action_bar">

				<div class="search_action_left">
					<span onClick="pnrTrans('','input')"  class="search_action_btn_primary">
						+ 신규등록
					</span>
				</div>
				<div class="search_action_right">
					<input class='custom-control-input' type='checkbox' name='cancel' id='cancel' value='Y'  >
					<span class="unit">취소포함</span>
					<input name="listCount" type="text" value="15" class="search_action_search_input wh40" placeholder="줄수" />
					<span class="unit">줄수</span>
					<select name="GU1" class="search_action_select"  >
						<option value="a.order_date"	 >주문일
						<option value="d.in_date"		 >출발일
						<option value="a.issue_date"	 >발권일
						<option value="e.in_date"		 >리턴일
						<option value="a.TL"			 >TL
					</select>
					<input type="date" class="date" name="start_date" />
					<span class="tilde">~</span>
					<input type="date" class="date" name="end_date" />
					<select name="GU6" class="search_action_select" >
						<option value="">    전체
						<option value='Y'     > 완료
						<option value='N'     > 미수금
						<option value='G'     > Group
						<option value='F'     > Fit
						<option value='EMD'   > EMD
						<option value='NAVER' > NAVER
					</select>
					<select name="GU2" class="search_action_select" >
						<option value=""> 전체 
						<option value="RQ">발권요청					
						<option value="WT">발권대기					
						<option value="OK">발권완료					
						<option value="REF">환불대기				
						<option value="CXL">발권후결항				
						<option value="PN">발권오류					
						<option value="CARD">카드발권				
						<option value="CASH">현금발권				
						<option value="GROUP">그룹발권				
						<option value="MISS">TASF미승인				
						<option value="REVAL">재발행				
						<option value="TIM">시간변경확인			
						<option value="PNRX">PNR미리깨기			
					</select>

					<select name="sFrom" class="search_action_select"  >
						<option value="a.uid">주문번호				
						<option value="a.RecLoc">PNR
						<option value="b.site_name">거래처명		
						<option value="routing">구간
						<option value="a.airPnr">항공PNR
						<option value="pax_name">탑승자				
						<option value="d.air_code">출발항공			
						<option value="e.air_code">귀국항공			
						<option value="ticket_number">티켓넘버		
						<option value="a.operator">예약자			
						<option value="a.issue_manager">발권자		
						<option value="a.atr_yes">GDS
						<option value="a.dep_tel">연락처			
						<option value="n.tkConfirm">스케쥴변경시간
						<option value="a.status">상태코드
					</select>
				
					<input name="sWord" type="text" value="" class="search_action_search_input" placeholder="검색어를 입력하세요" />
				
					<button type="submit" class="search_action_icon_btn" aria-label="검색">🔍</button>
				</div>
			</div>
			
		</div>
	</form>

	<form name="frmForm" method="post" id="frmForm">
	<input type="hidden" name="uid"  value="">
	<input type="hidden" name="mode" value="">
	<div ID="listFrame" >
		<div ID="listFrameSub" class="search-panel">
			<table class='search-table' id='dtBasic'>
				<tr >
					<th class="wh80">No.</th>
					<th>CRS</th> 
					<th>거래처명</th> 
					<th class="wh110">출발일</th>
					<th class="wh103">항공</th>
					<th class="wh92">일정</th>
					<th class="wh100">구분</th>
					<th>PNR</th>
					<th>Seat</th>
					<th class="wh50">승객</th>
					<th>금액</th>
					<th class="wh100">TL</th>
					<th class="wh100">신청일 <br> 발권일</th>
					<th class="wh80">접수<br>발권</th>
					<th class="wh100">상태</th>
					<th>C/T</th>
					<th class="wh100">환불</th>
					<th>발권</th>
				</tr>
				<tr>
					<td colspan="15" class="ac hh50">검색중 입니다.</td>
				</tr>
			</table>
		</div>
	</div>
	</form>
	<div class="action_bar_split">

		<div class="action_area_left">
			&nbsp;
			<span class="btn_basic btn_blue" onClick="pnrTrans()">주문서 생성</span>
			<span class="btn_basic btn_purple" onClick="webTerminal()">터미널 모드</span>
				전체현금 : <span id="cashAmount"></span>
				/
				전체NET : <span id="netAmount"></span>
				/
				<span id="naverAmount"></span>
		</div>
		<div class="action_area_center" id="pagingHTML">
		</div>
		<div class="action_area_right">		
			<button class="action_btn_download excel" onClick="return excelDown()" >
				<span class="icon">📊</span>
				엑셀 다운로드
			</button>
		</div>
		
	</div>

</main>

<div id="basePopUp" style="display:none"></div>
<script type="text/javascript">
<!--
	function createOutData () {
		var Rc = confirm("선택하신 주문서를 자동 출금 결의서 처리 합니다.");
		if (Rc) {
			Obj = document.frmForm;
			Obj.action = "../bill/auto_settleinter.php";
			Obj.method = "POST";
			Obj.target = "HIDE_ACTION";
			Obj.submit();
			Obj.target = "_self";
		}
		return false;
	}

	$(document).ready(function() {
		//frmSearch.submit ();
		formSearch (event,'1');
	});

    async function formSearch (e,page=1) {
        if (e) e.preventDefault();
        frmSearch.page.value = page;
		LoadingStart ();
        json = await dataSaveSend ('frmSearch','/air/order_list_search');
		success = json.success;
		if (success === "ok") {
            const datas  = json.listData;
            const paging = json.pageData;
            $("#listFrameSub").html(datas);
            $("#pagingHTML").html(paging);
			//$("#totCount").html(`(${json.totCount})`);
			parent.$("#topTitleData").html(`국제선 예약 목록 (${json.totalCount})`);
            frmSearch.titleData.value = `국제선 예약 목록 (${json.totalCount})`;
		} else {
            newAlert('목록호출중 오류 발생');
		}
		LoadingStop();
        return false;
	};

	function issueStart(uid) {
		sFile = "/air/order_detail?uid="+uid;
		OpenWindowA(sFile,"",1,1200,800);
	}

	function compareOrder () {
		sFile = "../air/air_order_compare.html";
		OpenWindowA(sFile,"",1,700,700);
	}

	function dupChecks () {
		$("#dupDataArea").show();
		if ($('#cancel').is(':checked') == true) c = "Y"; else c = "";
		sFile = "../air/order_dup_check.php?cancel="+c;
		frames["HIDE_ACTION"].location.href = sFile;
	}
	function dupView (in_date,air_code,pax_name) {
		frmSearch.GU1.selectedIndex    = 1;
		frmSearch.sFrom.selectedIndex  = 5;
		frmSearch.start_date.value     = CutDate(in_date);
		frmSearch.end_date.value       = CutDate(in_date);
		frmSearch.sWord.value          = pax_name;
		SemiSearch ();
	}
//-->
</script>

<%- include('../footer_log') %>