<%- include('../header') %>

<main class="content">

	

	<form name="frmSearch" id="frmSearch" method="post" onsubmit="return formSearch(event);" >
	<input type="hidden" name="menuCol"   value="">
    <input type="hidden" name="mode"      value="">
	<input type="hidden" name="page"      value="1">
	<input type="hidden" name="titleData" value="">
		<div id="searchFrame">
			<div class="search_action_bar">
				
				<div class="search_action_left">
					<!--
					<span onClick="pnrTrans('','input')"  class="search_action_btn_primary">
						+ 신규등록
					</span>
					-->
				</div>
				<!--
				<div class="search_action_left">
					<div class='custom-control custom-checkbox mr-2 d-inline'>
						<input class='custom-control-input' type='checkbox' name='cancel' id='cancel' value='Y'  ><label class="custom-control-label mb-2" for='cancel'>취소포함</label>
					</div>
				</div>
				-->
				<div class="search_action_right">
					<span class="unit">줄수</span>
					<input type="text" name="listCount" class="search_action_search_input wh40" value="20">
					<select name="sFrom" class="search_action_select"  >
						<option value="a.order_date"	 >제목</option>
					</select>
					<input name="sWord" type="text" value="" class="search_action_search_input" placeholder="검색어를 입력하세요" />
					<button type="submit" class="search_action_icon_btn" aria-label="검색">🔍</button>
				</div>
			</div>
		</div>
	</form>

	<form name="frmForm" method="post" id="frmForm">
	<input type="hidden" name="uid"  value="">
	<input type="hidden" name="mode" value="">
	<div ID="listFrame" >
		<div ID="listFrameSub" class="search-panel">
			<table class='search-table'  id='dtBasic'>
				<tr>
                    <th  >No</th>
                    <th  class=''>항목</th>
                    <th  class=''>구분</th>
                    <th  class=''>제목</th>
                    <th  class=''>등록자</th>
                    <th  class=''>등록일</th>
                    <th  class=''>삭제</th>
				</tr>
				
			</table>
		</div>
	</div>
	</form>

	 <div class="action_bar_split">

		<div class="action_area_left">
		</div>

		<div class="action_area_center" id="pagingHTML">
        </div>

		<div class="action_area_right">
		<button class="action_btn_download excel">
			<span class="icon"  href="javascript://" onClick="return excelDown()">📊</span>
			엑셀 다운로드
		</button>
		</div>
	</div>

</main>
<form name="frmModify" id="frmModify" method="post" >
	<input type="hidden" name="mode"		value="">
	<input type="hidden" name="uid">
	<input type="hidden" name="money_type">
    <input type="hidden" name="gubun_code">

</form>
<div id="basePopUp" style="display:none"></div>
<script type="text/javascript">
<!--

    async function newReg (uid='') {
        frmModify.uid.value      = uid;
        frmModify.mode.value     = 'view';
        LoadingStart ();
        json = await dataSaveSend ('frmModify','/bbs/newsSave');
		title = json.title;
		html  = json.html;
        name  = json.name;
		drawer.open(1000, { title, html  });
        LoadingStop();
	}

	$(document).ready(function() {
		//frmSearch.submit ();
		formSearch (event,'1');
	});

    async function formSearch (e,page=1) {
        if (e) e.preventDefault();
        frmSearch.page.value = page;
		LoadingStart ();
        json = await dataSaveSend ('frmSearch','/bbs/news_list');
		success = json.success;
		if (success === "ok") {
            const datas  = json.listData;
            const paging = json.pageData;
            $("#listFrameSub").html(datas);
            $("#pagingHTML").html(paging);
			parent.$("#topTitleData").html(`뉴스목록 (${json.totalCount})`);
            frmSearch.titleData.value = `뉴스목록 (${json.totalCount})`;
		} else {
            newAlert('목록호출중 오류 발생');
		}
		LoadingStop();
        return false;
	};
	
	function issueStart(uid) {
		sFile = "/air/order_detail?uid="+uid;
		OpenWindowA(sFile,"",1,1200,800);
	}

//-->
</script>

<%- include('../footer_log') %>