<%- include('../header') %>

<main class="content">

	<form name="frmSearch" id="frmSearch"  method="post"  onsubmit="return formSearch(event,'1');">
	<input type="hidden" name="menuCol"   value="">
    <input type="hidden" name="mode"      value="interSearch">
	<input type="hidden" name="page"      value="1">
	<input type="hidden" name="titleData" value="">
		<div id="searchFrame">
			<div class="search_action_bar">
				<div class="search_action_left">

				</div>
				<div class="search_action_right">
					<input name="listCount" type="text" value="15" class="search_action_search_input wh40" placeholder="์ค์" />
					<span class="unit">์ค์</span>
					<input type="text" name="GU1" class="search_action_search_input wh100" value="" >
					<span class="unit">๊ฒ์๋์ง</span>
					<input type="text" name="GU2" class="search_action_search_input wh100" value="" >
					<span class="unit">์ฃผ๋ฌธ์๋ฒํธ</span>
					<input type="text" name="GU3" class="search_action_search_input wh100" value="" >
					<button type="submit" class="search_action_icon_btn" aria-label="๊ฒ์">๐</button>
				</div>
			</div>
		</div>
	</form>

	<form name="frmForm" method="post" id="frmForm">
	<input type="hidden" name="uid"  value="">
	<input type="hidden" name="mode" value="">
	<div ID="listFrame" >
		<div ID="listFrameSub" class="search-panel">
			<table class='search-table' id='dtBasic'>
				<tr>
                    <th>๋ก๊ทธ ์๊ฐ</th>
                    <th>์ฃผ๋ฌธ์</th>
                    <th>์์ด๋</th>
                    <th>๋ด์ฉ</th>
				</tr>
				
			</table>
		</div>
	</div>
	</form>
	<div class="action_bar_split">

		<div class="action_area_left">
			&nbsp;
		</div>
		<div class="action_area_center" id="pagingHTML">
		</div>
		<div class="action_area_right">		
			<button class="action_btn_download excel" onClick="return excelDown()" >
				<span class="icon">๐</span>
				์์ ๋ค์ด๋ก๋
			</button>
		</div>
	</div>
</main>
<div id="basePopUp" style="display:none"></div>
<script type="text/javascript">
<!--

	$(document).ready(function() {
		//frmSearch.submit ();
		formSearch ();
	});
    async function formSearch (e,page=1) {
        if (e) e.preventDefault();
        frmSearch.page.value = page;
		LoadingStart ();
        json = await dataSaveSend ('frmSearch','/logData/gds_list');
		success = json.success;
		if (success === "ok") {
            const datas  = json.listData;
            const paging = json.pageData;
            $("#listFrameSub").html(datas);
            $("#pagingHTML").html(paging);
			parent.$("#topTitleData").html(`GDS ๋ก๊ทธ (${json.totalCount})`);
            frmSearch.titleData.value = `GDS ๋ก๊ทธ (${json.totalCount})`;
		} else {
            newAlert('๋ชฉ๋กํธ์ถ์ค ์ค๋ฅ ๋ฐ์');
		}
		LoadingStop();
        return false;
	};

//-->
</script>

<%- include('../footer_log') %>